################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ApiLoggingGovern/bin/Debug/net5.0
/ApiLoggingGovern/Logs
/ApiLoggingGovern/obj
